<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Home</title>
    <!-- CSS -->

</head>
<style>
    #main-footer {
        color: #FFFFFF;
        font-family: "Segoe UI";
        background: #2B2B2B;
        text-align: center;
        margin-top: 108px;
        padding: 16px;
        bottom: 8px;
    }
</style>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">



                <a class="navbar-brand mr-4" href="/">Robodoc</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                        <a class="nav-item nav-link" href="/cancer">Cancer</a>

                        <a class="nav-item nav-link" href="/heart">Heart</a>

                        <a class="nav-item nav-link" href="/Malaria">Malaria</a>

                    </div>
                    <!-- Navbar Right Side 
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
        </div>

        <h2> Please take a sample test to let us get an idea about heart problem</h2>
        <form action="/heart_quiz" method="POST">

            <b>Q. Do you have frequent chest pain</b>

            <label class="options">Yes
                        <input type="radio" name="radio1" value = "1">
                        <span class="checkmark"></span>
                    </label>
            <label class="options">No
                        <input type="radio" name="radio1" value = "0">
                        <span class="checkmark"></span>
                    </label>
            <br>
            <b>Q. Does your blood pressure fluctuates a lot</b>

            <label class="options">Yes
                        <input type="radio" name="radio2" value = "1">
                        <span class="checkmark"></span>
                    </label>
            <label class="options">No
                        <input type="radio" name="radio2" value = "0">
                        <span class="checkmark"></span>
                    </label>

            <br>
            <b>Q. Does you family has a history of heart problems</b>

            <label class="options">Yes
                        <input type="radio" name="radio3" value = "1">
                        <span class="checkmark"></span>
                    </label>
            <label class="options">No
                        <input type="radio" name="radio3" value = "0">
                        <span class="checkmark"></span>
                    </label>

            <br>
            <b>Q. Are you diabetic</b>

            <label class="options">Yes
                        <input type="radio" name="radio4" value = "1">
                        <span class="checkmark"></span>
                    </label>
            <label class="options">No
                        <input type="radio" name="radio4" value = "0">
                        <span class="checkmark"></span>
                    </label>

            <br>
            <b>Q. Are you overweight</b>

            <label class="options">Yes
                        <input type="radio" name="radio5" value = "1">
                        <span class="checkmark"></span>
                    </label>
            <label class="options">No
                        <input type="radio" name="radio5" value = "0">
                        <span class="checkmark"></span>
                    </label>

            <br>
            <input type="submit" value="Submit">

        </form>



    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <footer id="main-footer">
        Copyright &copy; 2022
    </footer>
</body>

</html>